<div class = "container">
  <div class = "row">
    <div class = "col-md-2 col-sm-6 bg-primary text-white">あいうえお</div>
    <div class = "col-md-2 col-sm-2 bg-secondary text-white">かきくけこ</div>
    <div class = "col-md-2 col-sm-2 bg-success text-white">さしすせそ</div>
    <div class = "col-md-6 col-sm-2 bg-dark text-white">たちつてと</div>
  </div>
  <div class = "row">
    <div class = "col-md-2 bg-info text-white">なにぬねの</div>
    <div class = "col-md-2 bg-warning text-white">はひふへほ</div>
    <div class = "col-md-2 bg-danger text-white">まみむめも</div>
    <div class = "col-md-6 bg-light text-dark">やゆよ</div>
  </div>
</div>


<h1>ここはトップページです</h1>